html {
  color:#000000;
}

h2 {
  font-weight: 200;
  color:#aabcbd;
}

ul {
  list-style-type: none;
}

.tl {
  margin-left: 100px;
  margin-right: 20px;
  margin-top: 10px;
  border:2px;
}

img {
  width:400px;
  height:auto;
  margin-right: 10px;
}